<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sandwich order by, <%= @order.name %></h1>
    <p>
      Name: <%= @order.name %>.
      Sandwich: <%= @order.sandwich %>
      Special instructions: <%= @order.special_instructions %>
    </p>

    <h1>  Best way out is always through. - Robert Frost </h1>
  </body>
</html>